.section-login {
  padding-top: 10vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  min-height: 90vh;
  justify-content: center;
  background-image: linear-gradient(
      115deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../../assets/Fondologin.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.error {
  color: red;
  margin: 0;
}
.box-form-login {
  display: flex;
  flex-direction: column;
  width: 25%;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px;
}
.box-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1ab7;
  color: #fff;
  border: 1px solid #00bfff;
  align-items: center;
  padding: 20px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.input {
  background-color: #333;
  color: #fff;
  padding: 10px 05px 05px 10px;

  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: #00bfff;
}

.submit:hover {
  background-color: #00bfff96;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
